.left-nav{
  /* background-color:rgb(106, 103, 99);  */
  background-color:#343a40;
  padding:0px;
}
.right-nav{
  padding:0px;

}

li{
  border-right: 1px solid #bbb;
  color:white;
  float: left;
  margin:auto;
} 
ul{
list-style-type: none;
   margin: auto;
}
li:last-child {
  border-right: none;
  
}
a.nav-link{
  color:white;
}

a.nav-link:hover{
  color:rgb(220, 218, 218);
}
a.nav-link:active{
  color:rgb(244, 28, 28);
}

#root > div > div > div:nth-child(1) > div.col-8{
  padding-left:0px;
}

#root > div > nav{
  
}

@media screen and (max-width:640px){
  #root > div > div > div:nth-child(1) > div > nav{
    position:fixed;
    top:77px;
    z-index: 0;
  
  }
  li{
    font-size: 0.4em;
    margin-left:0px;
    margin-right:0px;
  }
  #root > div > div > div.row > div > nav{
    width:100%;
  }
  #root > div > div > div:nth-child(1) > div > nav > ul{
    padding-left:50px;
    padding-right:0px;
  }
  #root > div > div > div:nth-child(1) > div > nav{
    padding-right:0px;
    margin-right:0px;
  }
}