.social-button:hover{
    text-decoration: none;
}

@media screen and (max-width:640px){

.social-button-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}