.social-button:hover{
    text-decoration: none;
}

.social-button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e54c3c;
    padding: 50px;
    box-shadow: 0px 0px 17px 10px #221b1b78;
}

.login-row{
    display:flex;
    align-items: center;
    height:100vh;
}

.sign-in-box{
    display:flex;
    flex-direction:column;
    justify-content: center;
}   

.sign-in-box > label{
    margin-top:10px;
}   

.button-box > button {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
    width: 150px;
}

.button-box{
    text-align: center;
}

.signup-btn{
    color:#ffc107;
    text-decoration: none;
}

.signup-btn:hover{
    color:#a1801c;
    text-decoration: none;
}

.login-input{
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px;
    width:100%;
}


@media screen and (max-width:640px){

.social-button-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}
