.profile-img{
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width:30%;
  margin:5%;
  float:left;
}

.profile-info{
margin:5%;
}
.edit-profile{
  margin:5%;
  appearance: none;
  background: 0 0;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: auto;
  color:white;
  background-color:rgb(55, 54, 54);
}
.profile-about{
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  padding: 0 16px 21px;
  text-overflow: ellipsis; 
  color:white;
}
.challenges-nav{
background-color:rgb(106, 103, 103);
color:white;
display:inline;
}
ul{
  list-style: none;
 
}
.nav-link{
  float:left;
}