#root {
  overflow-x: hidden;
  overflow-y: hidden;
}

.challenge-summary-row > ul {
  margin-top: 10%;
  margin-left: 0%;
}

.profile-float {
  float: left;
}
.logout-profile-btn {
  color: #e74b3c;
}

.logout-profile-btn:hover {
  color: #962f26;
}

.profile-nav {
  background-color: rgb(106, 103, 99);
  color: whitesmoke;
  padding-top: 0px;
  padding: 1%;
  height: 100vh;
  position: relative;
  bottom: 0px;
  box-shadow: 2px 6px 12px 0px rgba(0, 0, 0, 0.75);
}

.buttons-row {
  padding-top: 10%;
}

.user-row{
  pointer-events: none;
}

.profile-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 80% !important;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: 0px !important;
  border: 3px solid #fff;
  -webkit-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
}
.User-name {
  font-size: 2.5em;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}

.button-col {
  width: 80%;
  display: flex;
  justify-content: center;
}

.profile-nav-btn {
  width: 150px;
  display: flex;
  justify-content: center;
}

.new-profile-image-box{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.add-file-box{
  font-size: 12px;
}

.add-file-button{
  position:relative;
  left: 56px;
}

@media screen and (max-width: 640px) {
  .profile-nav-btn {
    position: fixed;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    font-size: 0.3em;
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 40px;
  }

  .profile-nav-btn:hover,
  .profile-nav-btn:focus {
    background-color: #282d31 !important;
    border-color: #282d31 !important;
  }

  .profile-nav {
    width: 75px;
    height: 40px;
    position: fixed !important;
    top: 138px;
    margin: 0px;
    padding: 3px;
    z-index: 2;
    background-color: transparent;
    box-shadow: none;
  }

  .profile-img {
    position: fixed;
    top: -70px;
    left: 293px;
    z-index: 1;
    width: 55px !important;
    padding: 0px;
    margin: 0px;
  }

  .profile-img-box{
    top: -60px;
  }

  .User-name {
    display: none;
  }

  .user-about {
    visibility: hidden;
  }
  .logout-link {
    position: fixed;
    top: 30px;
    left: 225px;
    z-index: 1;
    width: 70px;
    height: 27px;
    font-size: 10px;
  }
  .create-workout-link {
    position: fixed;
    top: 30px;
    left: 150px;
    z-index: 1;
    width: 70px;
    height: 27px;
    font-size: 10px;
  }

  .change-profile-photo{
    display:none;
  }
  
}
