#root > div > div > div:nth-child(2) > div > div.row.challenge-summary-row > ul{
  margin-top:10%;
  margin-left:0%;
}

.profile-float{
  float:left;
}
#root > div > div > div.col-4.profile-nav.profile-float > div.row.buttons-row > div:nth-child(1) > button > a{
  color:#e74b3c;
}

#root > div > div > div.col-4.profile-nav.profile-float > div.row.buttons-row > div:nth-child(1) > button > a:hover {
  color:#962f26;
}

.profile-nav{
  background-color: rgb(106, 103, 99);
  color:whitesmoke;
  padding-top:0px;
  padding:3%;
  height:150vh;

}
.buttons-row{
  padding-top:10%;
}
/* #root > div > div > div:nth-child(2) > div{
  padding-top:0px;
} */
.profile-img{
  background-color: #fafafa;
  width:100%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#root > div > div > div.col-3.profile-nav.profile-float > div:nth-child(1) > div.col-6.info-container > div.user-name > h3{
  padding-top:1.5em;
  font-size:1.4em;
}

@media screen and (max-width:640px){
  #root > div > div > div.col-3.profile-nav{
    width:75px;
    height:40px;
    position:fixed;
    top:78px;
    margin:0px;
    padding:3px;
  } 
  #root > div > div > div.col-3.profile-nav.profile-float > div:nth-child(1) > div:nth-child(1) > img{
    width:30px;
  }
  #root > div > div > div.col-3.profile-nav.profile-float > div:nth-child(1) > div.col-6.info-container > div.user-name > h3{
    visibility: hidden;
  }
  #root > div > div > div.col-3.profile-nav.profile-float > div.row.buttons-row > div:nth-child(2) > button{
   position:fixed;
   top:82px;
   left:40px;
   z-index:2;
   font-size:0.3em;
   padding:0px;
   margin:0px;
   width:30px;
 
  }
 
  #root > div > div > div.col-3.profile-nav.profile-float > div.row.buttons-row > div:nth-child(2) > button > a{
    padding-left:1px;
   
  }
  .user-about{
    visibility: hidden;
  }
  #root > div > div > div.col-3.profile-nav.profile-float > div.row.buttons-row > div:nth-child(1) > button{
    position: fixed;
    top:15px;
    left:260px;
    z-index:1;
   
  }
}