.challenge-summary-row > ul {
  margin-top: 10%;
  margin-left: 0%;
}

.profile-float {
  float: left;
}
.logout-profile-btn {
  color: #e74b3c;
}

.logout-profile-btn:hover {
  color: #962f26;
}

.profile-nav {
  background-color: rgb(106, 103, 99);
  color: whitesmoke;
  padding-top: 0px;
  padding: 1%;
  height: 150vh;
}
.buttons-row {
  padding-top: 10%;
}

.profile-img-box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width:80% !important;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  margin: 0px !important;
}
.User-name {
  font-size: 2.5em;
  text-align: center;
}

.button-col {
  width: 80%;
  display: flex;
  justify-content: center;
}

.profile-nav-btn {
  width: 85%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .profile-nav-btn {
    position: fixed;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    top: 82px;
    left: 40px;
    z-index: 2;
    font-size: 0.3em;
    padding: 0px;
    margin: 0px;
  }

  .profile-nav {
    width: 75px;
    height: 40px;
    position: fixed;
    top: 78px;
    margin: 0px;
    padding: 3px;
    z-index: 2;
    background-color:transparent;
  }

  .profile-img {
    top: -174px;
    left: 296px;
    z-index: 1;
    width: 80% !important;
  }
  .User-name {
    visibility: hidden;
  }

  .user-about {
    visibility: hidden;
  }
  .logout-link {
    position: fixed;
    top: 24px;
    left: 239px;
    z-index: 1;
    width: 55px;
  }
  .create-workout-link {
    position: fixed;
    top: 24px;
    left: 170px;
    z-index: 1;
    width: 65px;
  }
}
