.create-challenge-card {
  margin: auto;
  margin-top: 5%;
  width: 80%;
  margin-top: 20px;
  height: 100%;
  padding: 0%;
  color: whitesmoke;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
    border: 2px solid rgb(41, 38, 38);
    padding-top:0px;

}
.challenge-img-pick {
  width: 50%;
  float: left;
}

.workout-day-input {
  margin: 5px;
  width: 31%;
}

.day-input-row {
  justify-content: center;
}

.custom-control-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-date {
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}
.card-title{
  background-color:#343a40;
  padding:2%;
  width:100%;

}
.create-challenge-card-body {
  text-align: left;
  padding:3%;
}

.create-challenge-row {
  margin: 0px;
}

.picker {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 5px;
}

.add-workout-header {
  margin-top: 8px;
}

.title-description-box {
  width: 100%;
}

.create-workout-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 5px;
}

.post-to-timeline-button{
  margin-top:15px;
  width: 150px;
}

.post-to-timeline-box{
  display:flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .workout-day-input {
    margin: 5px;
    width: 28%;
  }

  .challenge-img-pick {
    width: 100%;
  }
}
