.post-card{
    width:90% !important;
    padding: 0px !important;
}

.post-header {
    background-color: #434242;
}

.workout-link{
    color:#df2f1f;
}

.workout-link:hover{
    color:#b4362b;
    text-decoration: none;
}

.timeline-post-box{
    justify-content: center;
    display: flex;
}

.time-posted{
    margin-bottom: 0px;
}

.post-body{
    text-align: left;
}
